* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  width: 100%;
  color: #069;
  text-align: center;
  min-height: 100vh;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  overflow-y: scroll;
  height: 90vh;
  padding: 15px 2%;
  box-shadow: 0 0 5px #069;
}
.container::-webkit-scrollbar {
  width: 14px;
  border: 1px solid #069;
}
.container::-webkit-scrollbar-thumb {
  background-color: #069;
  border-radius: 6px;
}

.hr_dados1 {
  border-top: medium dashed #069;
  border-bottom: medium dashed #069;
  height: 5px;
  overflow: visible;
  padding: 0;
  text-align: center;
}
img:hover {
  transform: scale(1.2); /* Aumenta quando passa o mouse*/
  filter: grayscale(5);
  cursor: pointer;
}
.hr_dados1::after {
  content: "RAFAEL RAIZER";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background: white;
}
.hr_01 {
  border-top: medium dashed #069;
  border-bottom: medium dashed #069;
  height: 3px;
  overflow: visible;
  padding: 0;
  text-align: center;
}
.hr_01::after {
  content: "Objetivo";
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;
}
.hr_02 {
  border-top: medium dashed #069;
  border-bottom: medium dashed #069;
  height: 3px;
  overflow: visible;
  padding: 0;
  text-align: center;
}
.hr_02::after {
  content: "Formação";
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;
}

.hr_03 {
  border-top: medium dashed #069;
  border-bottom: medium dashed #069;
  height: 3px;
  overflow: visible;
  padding: 0;
  text-align: center;
}
.hr_03::after {
  content: "Experiência";
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;
}
.hr_04 {
  border-top: medium dashed #069;
  border-bottom: medium dashed #069;
  height: 3px;
  overflow: visible;
  padding: 0;
  text-align: center;
}
.hr_04::after {
  content: "Prêmios/ Reconhecimentos";
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.3em;
  padding: 0 0.3em;
  background-color: #fff;
}
.hr_05 {
  border-top: medium dashed #069;
  border-bottom: medium dashed #069;
  height: 3px;
  overflow: visible;
  padding: 0;
  text-align: center;
}
.hr_05::after {
  content: "Conhecimentos de Estudo";
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;  
}
.hr_06 {
  border-top: medium dashed #069;
  border-bottom: medium dashed #069;
  height: 3px;
  overflow: visible;
  padding: 0;
  text-align: center;
}
.hr_06::after {
  content: "Outros Cursos T.I.";
  display: inline;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  background-color: #fff;  
}

